{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "syntax-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
